@font-face {
    font-family: 'Saiyan Sans';
    src: url('assets/saiyan_sans/Saiyan-Sans.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;

}

/* Variáveis */
:root {
    --primary: #FFA50A;
    --secondary: #0032D7;
    --back: #FCED97;
    --text-color: #000;
    --text-secodary: #fff;
}

body{
    overflow-x: hidden;
    background-color: #FCED97;
}

h1{
    font-family: 'Saiyan Sans', sans-serif;
    color: var(--text-secodary);
    font-size: 2.5em;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 1000;
}

.ja{
    background-color: #0032D7;
    width: 7%;
    color: var(--text-color);
    border-radius: 10px;
    position: relative;
    right: 2%;
}

.ja:hover{
    background-color: #012cb9;
}

.livro{
    display: flex;
    justify-content: space-between;
}

.livro img{
    position: relative;
    left: 10%;
    width: 25%;
    margin: 10px;
    border: 5px solid;
}

.div-livro{
    max-width: 50%;
}

.div-livro p, .div-livro h2{
    max-width: 70%;
    position: relative;
    top: 10%;
    left: 10%;
}

.div-livro p{
    color: var(--text-color);
    font-size: 1.5em;
}

.div-livro h2{
    color: var(--text-color);
    font-size: 2.5em;
}

.goku{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.goku img{
    max-width: 30%;
    margin: 10px;
    border: 5px solid;
}

.div-goku{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    max-width: 50%;
    position: relative;
    left: 10%;
    top: 100px;
}

.gohan{
    display: flex;
    justify-content: space-between;
}

.gohan img{
    max-width: 30%;
    margin: 10px;
    border: 5px solid;
    position: relative;
    left: 9%;
}

.div-gohan{
    max-width: 50%;
    position: relative;
    right: 7%;
    top: 40px;
}

footer{
    background: #FFA50A;
    max-width: 100%;
    padding: 15px 0;
}

footer h2{
    position: relative;
    left: 35%;
}

.img, .titulo, .txt{
    display: none;
    
}

.img.ativo, .titulo.ativo2, .txt.ativo3{
    display: block;
    max-height: 30%;
}

#antes, #depois{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: var(--primary);
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#antes{
    left: 30px;
}

#depois{
    right: 30px;
}

@keyframes mexer{
    from{
        top:100%;
        opacity: 0;
    }
}

@keyframes esquerda{
    from{
        left: -100%;
        opacity: 0;
    }
}

@keyframes direita{
    from{
        left: 100%;
        opacity: 0;
    }
}

.esquerda{
    animation: esquerda 0.5s ease-in-out;
}

.direita{
    animation: direita 0.5s ease-in-out;
}

.txt.ativo3{
    animation: mexer 0.5s ease-in-out 1;
}

#antes:hover, #depois:hover {
    background-color: var(--primary);
    color: var(--text-secodary);
}

/* mobile */
@media (max-width: 450px){
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }    

    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    .gohan p, .goku p{
        text-align: center;
    }

    header{
        width: 100%;
    }

    h1{
        font-size: 1.5em;
    }

    .ja{
        width: 30%;
        font-size: 0.75em;
    }

    .livro img{
        width: 30%;
        height: 30%;
        left: 0;
    }

    .livro, .gohan, .goku{
        width: 100%;
    }

    .div-livro h2{
        width: 100%;
        font-size: 1.5em;
        top: 2%;
    }

    .div-livro p{
        width: 100%;
        font-size: 0.5em;
        top: 2%;
    }

    .goku{
        flex-direction: column;
    }

    .goku img, .gohan img{
        min-width: 70%;
        position: relative;
        left: 15%;
    }

    .div-goku, .div-gohan{
        position: relative;
        top: -10%;
        left: 6%;
        min-width: 88%;
    }

    .div-goku p, .gohan p{
        font-size: 0.75em;
    }

    .gohan{
        flex-direction: column;
    }

    footer{
        margin: 10px 0 0 0;
    }

    footer h2{
        font-size: 0.80em;
        position: relative;
        left: 20%;
    }

    #antes, #depois{
        border: 0.5 solid #eee9;
        background-color: #eee9;
        max-width: 5%;
        max-height: 5%;
    }

    #antes{
        top: 23%;
        left: 45%;
    }

    #depois{
        top: 23%;
        right: 3%;
    }
}